<div class="row">
    <div class="span12">
        <form method="POST" action="/">
    
            <div class="row">
                <div class="span8 offset2">
                	<br><br><br><br><br><br><br><br>
                    <h3>To: <%= to %></h2>
                    <br>
                    <h3 class="message">
                        <%= message %>
                    </h2>
                    <br>
                    <!--<img class="span8" src="/img/<%= image %>" alt="valentine image">-->
                </div>
            </div>
            
            <div class="row">
                <div class="span10 offset2">
                    
                    
                    <h3>From: <%= from %></h2>
                    
                    <br><br>
                    <h4><a href="/">Send another</a></h4>
                </div>
                
            </div>

        </form>
    </div>
</div>